In [1]:
import pandas as pd
import numpy as np

In [54]:
visa_df=pd.read_csv(r"C:\Users\kisho\Documents\data set\Visadataset.csv")

(Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
        'requires_job_training', 'region_of_employment', 'unit_of_wage',
        'full_time_position', 'case_status'],
       dtype='object'),
 Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object'))

In [ ]:
#z_score=z 
(X – μ) / σ

In [56]:
#step_1:read prevailing wage
#step_2:calculate mean of wage
#step_3:calculate std of wage
#step_4:nr,step_1-step_2
#step_5:step4/step_3
wage_data=visa_df["prevailing_wage"]
wage_mean=visa_df["prevailing_wage"].mean()
wage_std=visa_df["prevailing_wage"].std()
nr=wage_data-wage_mean
z_scale_wage_data=nr/wage_std
visa_df["z_scale_wage_data"]=z_scale_wage_data
visa_df[["prevailing_wage","z_scale_wage_data"]]

       prevailing_wage  z_scale_wage_data
0             592.2029          -1.398510
1           83425.6500           0.169832
2          122996.8600           0.919060
3           83434.0300           0.169991
4          149907.3900           1.428576
...                ...                ...
25475       77092.5700           0.049923
25476      279174.7900           3.876083
25477      146298.8500           1.360253
25478       86154.7700           0.221504
25479       70876.9100          -0.067762

[25480 rows x 2 columns]

**task**

- compare the value
- we scale the data using z_score
- the minimum value of index exactly match with minimum value index with scaled data.
- the maximum value of index exactly match with maximum value index with scaled data.
- **idxmax and idxmin**

In [57]:
#prevailing wage minimum id and
#prevailing_wage_maximum id
max_id_wage=visa_df[["prevailing_wage"]].idxmax().values[0]
min_id_wage=visa_df[["prevailing_wage"]].idxmin().values[0]
print("the maximum value id is:",max_id_wage)
print("the minimum value id is:",min_id_wage)

the maximum value id is: 21077
the minimum value id is: 20575

In [34]:
visa_df[["prevailing_wage"]].max()

prevailing_wage    319210.27
dtype: float64

In [36]:
visa_df[["prevailing_wage"]].min()

prevailing_wage    2.1367
dtype: float64

In [58]:
visa_df[["prevailing_wage"]].iloc[[21077]]

       prevailing_wage
21077        319210.27

In [59]:
visa_df[["prevailing_wage"]].iloc[[20575]]

       prevailing_wage
20575           2.1367

In [61]:
visa_df[["prevailing_wage"]].loc[[max_id_wage,min_id_wage]]

       prevailing_wage
21077      319210.2700
20575           2.1367

In [64]:
max_id_wage=visa_df[["z_scale_wage_data"]].idxmax().values[0]
min_id_wage=visa_df[["z_scale_wage_data"]].idxmin().values[0]
print("the maximum value id is:",max_id_wage)
print("the minimum value id is:",min_id_wage)
visa_df[["z_scale_wage_data"]].loc[[max_id_wage,min_id_wage]]

the maximum value id is: 21077
the minimum value id is: 20575

       z_scale_wage_data
21077           4.634102
20575          -1.409682

**StandardScaler**

- it is a method to scale the data using z_score.
- it is under sklearn package.
- under sklernwe have a clsss :preprocessing
- under preprocessing,there is a method called standard scale
- read the package,save the package,apply fit transform

In [65]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
visa_df["ss_wage_data"]=ss.fit_transform(visa_df[["prevailing_wage"]])
visa_df[["ss_wage_data"]]

       ss_wage_data
0         -1.398537
1          0.169835
2          0.919079
3          0.169994
4          1.428604
...             ...
25475      0.049924
25476      3.876159
25477      1.360280
25478      0.221509
25479     -0.067763

[25480 rows x 1 columns]

**task**
- compre 3 columns
- one is original column
- second is devlop by logic:**z_scaled wage_data**
- third is devlop by package:**ss_wage_data**

In [66]:
visa_df[["prevailing_wage","z_scale_wage_data","ss_wage_data"]]

       prevailing_wage  z_scale_wage_data  ss_wage_data
0             592.2029          -1.398510     -1.398537
1           83425.6500           0.169832      0.169835
2          122996.8600           0.919060      0.919079
3           83434.0300           0.169991      0.169994
4          149907.3900           1.428576      1.428604
...                ...                ...           ...
25475       77092.5700           0.049923      0.049924
25476      279174.7900           3.876083      3.876159
25477      146298.8500           1.360253      1.360280
25478       86154.7700           0.221504      0.221509
25479       70876.9100          -0.067762     -0.067763

[25480 rows x 3 columns]

In [ ]:
#read the data
#devlop a normalization data using logic
#step_1:read the pwage data
#step_2:min value
#step_3:max value
#step_4:nr:step1-step_2
#step_5:dr:step_3-step_2
#step_6:step_4/step_5

**the package is minmaxscaler**

In [42]:
wage_data=visa_df['prevailing_wage']
wage_min=min(visa_df['prevailing_wage'])
wage_max=max(visa_df['prevailing_wage'])
nr=wage_data-wage_min
dr=wage_max-wage_min
x_scaled_wage_data=nr/dr
visa_df["x_scaled_wage_data"]=x_scaled_wage_data
visa_df[['prevailing_wage',"x_scaled_wage_data"]]

       prevailing_wage  x_scaled_wage_data
0             592.2029            0.001849
1           83425.6500            0.261345
2          122996.8600            0.385312
3           83434.0300            0.261371
4          149907.3900            0.469616
...                ...                 ...
25475       77092.5700            0.241505
25476      279174.7900            0.874579
25477      146298.8500            0.458311
25478       86154.7700            0.269895
25479       70876.9100            0.222033

[25480 rows x 2 columns]

In [44]:
max_id_wage=visa_df[["prevailing_wage"]].idxmax().values[0]
min_id_wage=visa_df[["prevailing_wage"]].idxmin().values[0]
max_id_wage

21077

In [45]:
visa_df[["prevailing_wage"]].iloc[[21077]]

       prevailing_wage
21077        319210.27

In [46]:
visa_df[["prevailing_wage"]].loc[[max_id_wage,min_id_wage]]

       prevailing_wage
21077      319210.2700
20575           2.1367

In [47]:
max_id_wage=visa_df[["x_scaled_wage_data"]].idxmax().values[0]
min_id_wage=visa_df[["x_scaled_wage_data"]].idxmin().values[0]
visa_df[["x_scaled_wage_data"]].loc[[max_id_wage,min_id_wage]]

       x_scaled_wage_data
21077                 1.0
20575                 0.0

In [48]:
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
visa_df["mms_wage_data"]=mms.fit_transform(visa_df[["prevailing_wage"]])
visa_df[["mms_wage_data"]]

       mms_wage_data
0           0.001849
1           0.261345
2           0.385312
3           0.261371
4           0.469616
...              ...
25475       0.241505
25476       0.874579
25477       0.458311
25478       0.269895
25479       0.222033

[25480 rows x 1 columns]

In [49]:
visa_df[["prevailing_wage","x_scaled_wage_data","mms_wage_data"]]

       prevailing_wage  x_scaled_wage_data  mms_wage_data
0             592.2029            0.001849       0.001849
1           83425.6500            0.261345       0.261345
2          122996.8600            0.385312       0.385312
3           83434.0300            0.261371       0.261371
4          149907.3900            0.469616       0.469616
...                ...                 ...            ...
25475       77092.5700            0.241505       0.241505
25476      279174.7900            0.874579       0.874579
25477      146298.8500            0.458311       0.458311
25478       86154.7700            0.269895       0.269895
25479       70876.9100            0.222033       0.222033

[25480 rows x 3 columns]

In [50]:
ss.fit_transform(visa_df["prevailing_wage"])
#to avoid this error we will do 2 method below

ValueError: Expected 2D array, got 1D array instead:
array=[   592.2029  83425.65   122996.86   ... 146298.85    86154.77
  70876.91  ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [51]:
#method_1
ss.fit_transform(visa_df[["prevailing_wage"]])

array([[-1.39853722],
       [ 0.1698353 ],
       [ 0.91907852],
       ...,
       [ 1.36027953],
       [ 0.22150859],
       [-0.06776315]])

In [53]:
#method_2
d=visa_df["prevailing_wage"].values.reshape(-1,1)
ss.fit_transform(d)

array([[-1.39853722],
       [ 0.1698353 ],
       [ 0.91907852],
       ...,
       [ 1.36027953],
       [ 0.22150859],
       [-0.06776315]])

In [ ]:
#method_1:
ss.fit_transform(visa_df[["prevailing_wage"]])
#method_2:
d=visa_df["prevailing_wage"].values.reshape(-1,1)
ss.fit_transform(d)