In [1]:
import numpy as np
import pandas  as pd

In [6]:
#create a df having some missing values
d1={'names':['tarun','asis','suri',None],'age':[30,20,np.nan,32],'city':[None,'hyd','pune','blr']}
df1=pd.DataFrame(d1)
df1

   names   age  city
0  tarun  30.0  None
1   asis  20.0   hyd
2   suri   NaN  pune
3   None  32.0   blr

In [7]:
df1.dtypes

names     object
age      float64
city      object
dtype: object

In [8]:
df1.to_csv('missing_value_data.csv',index=False)

In [30]:
d2={'names':['tarun','asis','suri',None],'age':[30,20,None,32],'city':[None,'hyd','pune','blr']}
df2=pd.DataFrame(d2)
df2

   names   age  city
0  tarun  30.0  None
1   asis  20.0   hyd
2   suri   NaN  pune
3   None  32.0   blr

In [31]:
df2.dtypes

names     object
age      float64
city      object
dtype: object

In [25]:
d3={'names':['tarun','asis','suri',None],'age':[30,20,None,'32'],'city':[None,'hyd','pune','blr']}
df3=pd.DataFrame(d3)
df3

   names   age  city
0  tarun    30  None
1   asis    20   hyd
2   suri  None  pune
3   None    32   blr

In [14]:
df3.dtypes

names     object
age      float64
city      object
dtype: object

In [27]:
df3['age']=df3['age'].astype('int')#because it has missing values

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

In [16]:
d4={'names':['tarun','asis','suri',None],'age':[30,20,33,'32'],'city':[None,'hyd','pune','blr']}
df4=pd.DataFrame(d4)
df4

   names age  city
0  tarun  30  None
1   asis  20   hyd
2   suri  33  pune
3   None  32   blr

In [17]:
df4.dtypes

names    object
age      object
city     object
dtype: object

In [18]:
df4['age']=df4['age'].astype('int')

In [19]:
df4.dtypes

names    object
age       int32
city     object
dtype: object

- if u want to change the data type of a column use **astype**
- but if a column has missing values astype will fail

In [22]:
d5={'names':['tarun','asis','suri',None],'age':[30,20,np.nan,'32'],'city':[None,'hyd','pune','blr']}
df5=pd.DataFrame(d5)
df5.dtypes
df5['age']=df5['age'].astype('int')

ValueError: cannot convert float NaN to integer

In [ ]:
#df3: TypeError: int() argument must be a string, a bytes-like object or a real number, not 'NoneType':missing value none:str or int or float
#df5:  ValueError: cannot convert float NaN to integer : missing value np.nan==int or float
#  none type: represent as none